*{
    padding: 0;
    margin: 0;
}
/* titulos */
.titulos {
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 35px;
    color: #bbbbbb;
     background-color: #24262b;
    /* text-decoration: underline;
    text-decoration-color: #e91e63;; */
}

.titulo-event {
    font-style: normal;
    font-family: "LXGW WenKai Mono TC", monospace;
    text-align: center;
    font-size: 30px;
}
.titulos-icon {
    text-align: center;
    font-size: 20px;
   color: black;
}
.titulos-cancion {
    text-align: center;
    font-size: 25px;
    font-family: "Manufacturing Consent", system-ui;
    color: black;
}
.navbar-brand {
    font-family: "Manufacturing Consent", system-ui;
    font-size: 35px;
}
/* navbar */
.carrusel {
    color: #bbbbbb;
    text-align: right;
}
/* ICONOS */
.iconos {
    display: flex;
    gap: 10%;
    text-align: center;
    justify-content: center;
}
.iconos a i  {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
    color: #24262b;
    transition: transform 0.3s ease-in-out;
}
.iconos a i:hover {
    width: 60px;
    height: 60px;
    color: #ffffff;
    background: #24262b;
    transform: scale(1.2);
}
/* canciones */
.canciones {
    display: grid;
    grid-template-columns: repeat(2,50%);
    transition: transform 0.3s ease-in-out;
}

.canciones iframe {
    width: 100%;
    height: 300px;
}
.canciones iframe:hover {
    transform: scale(1.05);
}
/*carrusel de imagenes*/

.carousel-inner img{
    width: 100%;
    height: 550px;
}

/* acerca de mi  */

/* contacto */
.contact-section {
    background-color: #24262b;
    padding: 3rem;
    color: #ffffff;
    text-align: center;
}
#contact-form {
    gap: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#contact-form input, #contact-form textarea {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}
#contact-form button {
    padding: 1rem;
    background-color: black;
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#contact-form button:hover {
    background-color: #333;
}

/* footer */
.footer{
    background-color: #24262b;
    padding: 20px;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: "LXGW WenKai Mono TC", monospace;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    box-sizing: border-box;
    width: 50px;
    height: 2px;
    background: #e91e63;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul {
    padding: 0;
}
.footer-col ul li a{
    text-transform: capitalize;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    font-family: "LXGW WenKai Mono TC", monospace;
    display: block;
    color: #bbbbbb;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba (255, 255, 255, 0.2);
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background: #ffffff;
}
/* responsive */
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .d-block {
    width: 100%;
    height: 550px;
    }
    .canciones {
        display: inline-block;
        width: 100%;
    }
    .canciones iframe {
    width: 100%;
    height: 400px;
    }
}
@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
    .d-block {
    width: 100%;
    height: 550px;
    }
    .canciones {
        display: inline-block;
        width: 100%;
    }
    .canciones iframe  {
    width: 100%;
    height: 400px;
    }
}